{% extends 'base.html.twig' %}

{% block body %}
    <h1>Intervencionpenals list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for intervencionPenal in intervencionPenals %}
            <tr>
                <td><a href="{{ path('intervencionpenal_show', { 'id': intervencionPenal.id }) }}">{{ intervencionPenal.id }}</a></td>
                <td>{{ intervencionPenal.nombre }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('intervencionpenal_show', { 'id': intervencionPenal.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('intervencionpenal_edit', { 'id': intervencionPenal.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('intervencionpenal_new') }}">Create a new intervencionPenal</a>
        </li>
    </ul>
{% endblock %}
