{% extends 'templates/layout.html.twig' %}
{% block head %}
  <title>{% if alta == 1 %}Alta de{% else %}Modificar{% endif %} {{ entidad }}</title>
{% endblock %}
{% block body %}
  <div class="text-center container col-md-6 mt-5">
    <h1>{% if alta == 1 %}Alta de{% else %}Modificar{% endif %} {{ entidad }}</h1>
    <hr>
    {{ form_start(form) }}
    {%if form_errors(form.descripcion)%}
      <div class="alert alert-danger">
        {{ form_errors(form.descripcion) }}
      </div>
    {%endif%}
    <div class="row">
      <div class="{% if form.orden is defined %}col-md-6{%else%}col-md-12{% endif %}">
        {{ form_row(form.descripcion, {'attr': {'class': 'form-control', 'placeholder':'Descripcion', 'autofocus':true} })}}
      </div>
      {% if form.orden is defined %}
        <div class="col-md-6">
          {{ form_row(form.orden, {'attr': {'class': 'form-control', 'placeholder':'Numero de orden'} })}}
        </div>
      {% endif %}
    </div>
    <hr>
    <div class="row justify-content-center">
      <div class="col-md-3">
        {{ form_end(form) }}
      </div>
      <div class="col-md-3">
        <a class="btn btn-volver" href="/listar/{{entidad}}" onclick="return confirm('Los datos se perderán, seguro que desea volver?')">Volver</a>
      </div>
    </div>
  </div>
{% endblock %}
