{% extends 'templates/layout.html.twig' %}

{# app/Resources/views/layout.html.twig #}
{% block head %}
    <title>Listado de {{ parametro }}</title>
{% endblock %}

{% block body %}
<div class="text-center container col-md-6 mt-3">
    <div class="panel">
        <div class="panel-body">  
                <table class="table table-striped">
                    <thead>
                       {#  <th>Orden</th> #}
                        <th>Descipcion</th><i class='fab fa-500px'></i>
                        <th><a class="btn btn-primary" href="/alta/{{ entidad }}"> Crear {{ parametro }}</a></th>
                    </thead>
                    <tbody>
                        {% for elemento in elementos %}
                            <tr>
                                {# <td>{{ elemento.orden }}</td> #}
                                <td>{{ elemento.nombre }}</td>
                                <td><a class="btn btn-success btn-xs" href="/update/{{ entidad }}/{{ elemento.id }}"><i class="fab fa-500px"></i>Editar</a>
                                <a class="btn btn-danger btn-xs" href="/delete/{{ entidad }}/{{ elemento.id }}"><i class="glyphicon glyphicon-trash"></i>Eliminar</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div> 
    </div>
{% endblock %}
