{% extends 'templates/layout.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Editar seguimiento</h1>
        {{ form_start(form) }}
            {{ form_widget(form) }}
            <input class="btn btn-success ml-5" type="submit" value="Create">
            <a class="btn btn-danger" href="{{ path('seguimiento_index') }}">Back to the list</a>
        {{ form_end(form) }}
    </div>
    <ul>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
