{% extends 'templates/layout.html.twig' %}

{% block body %}
    {{ form_start(form) }}
    <div class="text-center container col-md-8 mt-5 border-violet card">
      <h1 class="mt-2 mb-2">Agregar seguimiento</h1>
      <hr>
        {{ form_errors(form) }}
        {{ form_widget(form) }}
      <hr>
      <div class="row justify-content-center">
        <div class="col-md-4 col-sm-4 col-4">
          <a class="btn btn-volver" href="{{ path('expediente_show', { 'id': expediente.id }) }}" onclick="return confirm('Los datos se perderán, seguro que desea volver?')"><i class="material-icons align-bottom">keyboard_backspace</i>Volver</a>
        </div>
        <div class="col-md-4 col-sm-4 col-4">
          <input type="submit" value="Agregar seguimiento" class="btn btn-violet"/>
        </div>
      </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
