{% extends 'templates/layout.html.twig' %}

{% block head %}
	<title>Panel de reportes</title>
{% endblock %}

{% block body %}
<div class="text-center container col-md-10 col-lg-8 mt-5">
	<h2>Panel de reportes</h2>
	<hr>
  {%if reporte%}
  <div class="alert alert-success" role="alert">
    {{reporte}}
  </div>
  <hr>
  {%endif%}
  {%if error%}
  <div class="alert alert-warning" role="alert">
    {{error}}
  </div>
  <hr>
  {%endif%}

	{%for flash_message in app.session.flashbag.get('notice') %}
		<p class="alert alert-success">{{flash_message}}</p>
	{%endfor%}
  {{ form_start(form) }}
  <div class="row mt-3 mb-2">
		<div class="col-lg-6 col-md-12 col-sm-12 col-12 mt-2">
      {{ form_row(form.reporte) }}
    </div>
		<div class=" col-lg-3 col-md-6 col-sm-6 col-12 mt-2">
      {{ form_row(form.inicio) }}
    </div>
		<div class="col-lg-3 col-md-6 col-sm-6 col-12 mt-2">
      {{ form_row(form.fin) }}
    </div>
  </div>
  <hr>
  <div class="row justify-content-center">
		<div class="col-md-3 col-sm-4 col-5">
			<a class="btn btn-volver" href="/"><i class="material-icons align-bottom">keyboard_backspace</i>Volver</a>
		</div>
		<div class="col-md-3 col-sm-4 col-5">
			{{ form_row(form.guardar) }}
		</div>
  </div>



  {{ form_end(form) }}

</div>
{% endblock %}
