{% extends 'base.html.twig' %}

{% block body %}
    <h1>Antecedentejudicials list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Realizodenuncia</th>
                <th>Fecharealizodenuncia</th>
                <th>Obsrealizodenuncia</th>
                <th>Denunciaprevia</th>
                <th>Obsdenunciaprevia</th>
                <th>Activo</th>
                <th>Observacion_abogado</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for antecedenteJudicial in antecedenteJudicials %}
            <tr>
                <td><a href="{{ path('antecedentejudicial_show', { 'id': antecedenteJudicial.id }) }}">{{ antecedenteJudicial.id }}</a></td>
                <td>{% if antecedenteJudicial.realizoDenuncia %}Yes{% else %}No{% endif %}</td>
                <td>{% if antecedenteJudicial.fechaRealizoDenuncia %}{{ antecedenteJudicial.fechaRealizoDenuncia|date('Y-m-d') }}{% endif %}</td>
                <td>{{ antecedenteJudicial.obsRealizoDenuncia }}</td>
                <td>{% if antecedenteJudicial.denunciaPrevia %}Yes{% else %}No{% endif %}</td>
                <td>{{ antecedenteJudicial.obsDenunciaPrevia }}</td>
                <td>{% if antecedenteJudicial.activo %}Yes{% else %}No{% endif %}</td>
                <td>{{ antecedenteJudicial.observacionabogado }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('antecedentejudicial_show', { 'id': antecedenteJudicial.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('antecedentejudicial_edit', { 'id': antecedenteJudicial.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('antecedentejudicial_new') }}">Create a new antecedenteJudicial</a>
        </li>
    </ul>
{% endblock %}
