{% extends 'base.html.twig' %}

{% block body %}
    <h1>Antecedentejudicial</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ antecedenteJudicial.id }}</td>
            </tr>
            <tr>
                <th>Realizodenuncia</th>
                <td>{% if antecedenteJudicial.realizoDenuncia %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Fecharealizodenuncia</th>
                <td>{% if antecedenteJudicial.fechaRealizoDenuncia %}{{ antecedenteJudicial.fechaRealizoDenuncia|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Obsrealizodenuncia</th>
                <td>{{ antecedenteJudicial.obsRealizoDenuncia }}</td>
            </tr>
            <tr>
                <th>Denunciaprevia</th>
                <td>{% if antecedenteJudicial.denunciaPrevia %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Obsdenunciaprevia</th>
                <td>{{ antecedenteJudicial.obsDenunciaPrevia }}</td>
            </tr>
            <tr>
                <th>Activo</th>
                <td>{% if antecedenteJudicial.activo %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Observacion_abogado</th>
                <td>{{ antecedenteJudicial.observacionabogado }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('antecedentejudicial_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('antecedentejudicial_edit', { 'id': antecedenteJudicial.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
