{% block head %}
  <title>Crear usuarix</title>
{% endblock %}

{% trans_default_domain 'FOSUserBundle' %}

<div class="offset-md-4 container col-md-5 mt-5">
  <h2>Registrar un usuario</h2>
  <hr>
	{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
		{{ form_row(form.nombre, {'attr': {'class': 'form-control mb-3', 'placeholder':'Ingrese su nombre', 'autofocus':true} })}}
		{{ form_row(form.apellido, {'attr': {'class': 'form-control mb-3', 'placeholder':'Ingrese su apellido'} })}}
		{{ form_row(form.dni, {'attr': {'class': 'form-control mb-3', 'placeholder':'Ingrese su DNI', 'pattern':'[0-9]{8}', 'title':"Solo numeros"}, 'label':'DNI'})}}
		{{ form_row(form.plainPassword.first, {'attr': {'class': 'form-control mb-3'}}) }}
    {{ form_row(form.plainPassword.second, {'attr': {'class': 'form-control mb-3'}}) }}
		{{ form_row(form.profesion, {'attr': {'class': 'form-control mb-3'}}) }}
    {{ form_row(form.esAdmin, {'label':'Role administradorx'}) }}
	    <div>
	        <input class="btn btn-violet" type="submit" value="Registrar usuarix" />
	    </div>
	{{ form_end(form) }}
</div>
