{% extends 'templates/layout.html.twig' %}


{% block body %}
  <div class="text-center container col-md-6 mt-3">
    <h1>Edicion de {{usuario.nombre}}</h1>
    {{ form_start(edit_form) }}
      <div class="row">
        <div class="col-md-6">
          {{ form_row(edit_form.nombre, {'attr': {'class': 'form-control mb-3', 'placeholder':'Ingrese su nombre', 'autofocus':true} })}}
        </div>
        <div class="col-md-6">
          {{ form_row(edit_form.apellido, {'attr': {'class': 'form-control mb-3', 'placeholder':'Ingrese su apellido'} })}}
        </div>
      </div>
      {{ form_row(edit_form.dni, {'attr': {'class': 'form-control mb-3', 'placeholder':'Ingrese su DNI', 'pattern':'[0-9]{8}', 'title':"Solo numeros"}, 'label':'DNI'})}}
      {{ form_row(edit_form.profesion, {'attr': {'class': 'form-control mb-3'}}) }}
      {{ form_row(edit_form.esAdmin, {'label':'Role administradorx'}) }}
      <div class="row justify-content-center">
        <div class="col-md-3">
          <input class="btn btn-md btn-violet btn-block mb-2" type="submit" value="Editar" />
          {{ form_end(edit_form) }}
        </div>
        <div class="col-md-3">
          <a class="btn btn-md btn-danger btn-block mb-2" href="{{ path('usuario_index')}}">Volver a la lista</a>
        </div>
      </div>
    </div>
{% endblock %}
