{% extends 'templates/layout.html.twig' %}
{% block head %}
  <title>Lista de usuarixs</title>
{% endblock %}
{% block body %}
  <h1 class="text-center">Usuarixs</h1>
  <div class="text-center container col-md-6 mt-3">
    <div class="panel">
      <div class="panel-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Apellido</th>
              <th>Dni</th>
              <th>Admin</th>
              <th><a class="btn btn-primary" href="/register/">Nuevx usuarix</a></th>
            </tr>
          </thead>
          <tbody>
            {% for usuario in usuarios %}
              <tr>
                <td>{{ usuario.nombre }}</td>
                <td>{{ usuario.apellido }}</td>
                <td>{{ usuario.username }}</td>
                <td>{% if usuario.esAdmin %}Si{% else %}No{% endif %}</td>
                <td>
                  <a class="btn btn-info btn-xs" href="./{{ usuario.id }}"><i class="material-icons">remove_red_eye</i></a>
                  <a class="btn btn-success btn-xs" href="./{{ usuario.id }}/edit"><i class="material-icons btn-xs">edit</i></a>
                  <a class="btn btn-danger btn-xs" href="/profile/delete/{{ usuario.id }}"><i class="material-icons">delete</i></a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}
