{% extends 'templates/layout.html.twig' %}
{% block head %}
  <title>Lista de usuarixs</title>
{% endblock %}
{% block body %}
  <div class="text-center container col-md-10 col-lg-8 mt-5 mb-5">
    {%for flash_message in app.session.flashbag.get('notice') %}
    <p class="alert alert-warning mb-3">{{flash_message}}</p>
    {%endfor%}
    <h2>Panel de Usuarixs</h2>
    {%for flash_message in app.session.flashbag.get('notice') %}
  		<p class="alert alert-success">{{flash_message}}</p>
  	{%endfor%}
        <table class="table mt-4">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Apellido</th>
              <th>Dni</th>
              <th>Admin</th>
              <th><a class="btn btn-primary" href="/register/">Nuevx usuarix</a></th>
            </tr>
          </thead>
          <tbody>
            {% for usuario in usuarios %}
              <tr class="{% if usuario.isEnabled %}table-success{% else %}table-danger{% endif %}">
                <td>{{ usuario.nombre }}</td>
                <td>{{ usuario.apellido }}</td>
                <td>{{ usuario.username }}</td>
                <td>{% if usuario.esAdmin %}Si{% else %}No{% endif %}</td>
                <td>
                  <a class="btn btn-info btn-xs" href="./{{ usuario.id }}"><i class="material-icons">remove_red_eye</i></a>
                  <a class="btn btn-success btn-xs" href="./{{ usuario.id }}/edit"><i class="material-icons btn-xs">edit</i></a>
                  <a class="btn {% if usuario.isEnabled %}btn-danger{% else %}btn-warning{% endif %} btn-xs" onclick="return confirm('Estas seguro de {% if usuario.isEnabled %}desactivar{% else %}reactivar{% endif %} al usuario?')" href="/usuario/{{ usuario.id }}/delete"><i class="material-icons">{% if usuario.isEnabled %}delete{% else %}done_outline{% endif %}</i></a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
  </div>
{% endblock %}
