{% extends 'templates/layout.html.twig' %}

{% block body %}
    <h1>Victima</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ victima.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ victima.nombre }}</td>
            </tr>
            <tr>
                <th>Apellido</th>
                <td>{{ victima.apellido }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ victima.email }}</td>
            </tr>
            <tr>
                <th>Nrodocumento</th>
                <td>{{ victima.nroDocumento }}</td>
            </tr>
            <tr>
                <th>Fechanac</th>
                <td>{% if victima.fechaNac %}{{ victima.fechaNac|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Poseedineropropio</th>
                <td>{% if victima.poseeDineroPropio %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Obserdineropropio</th>
                <td>{{ victima.obserDineroPropio }}</td>
            </tr>
            <tr>
                <th>Poseeplansocial</th>
                <td>{% if victima.poseePlanSocial %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Obserplansocial</th>
                <td>{{ victima.obserPlanSocial }}</td>
            </tr>
            <tr>
                <th>Poseeviviendapropia</th>
                <td>{% if victima.poseeViviendaPropia %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Observiviendapropia</th>
                <td>{{ victima.obserViviendaPropia }}</td>
            </tr>
            <tr>
                <th>Calle</th>
                <td>{{ victima.calle }}</td>
            </tr>
            <tr>
                <th>Piso</th>
                <td>{{ victima.piso }}</td>
            </tr>
            <tr>
                <th>Depto</th>
                <td>{{ victima.depto }}</td>
            </tr>
            <tr>
                <th>Numero</th>
                <td>{{ victima.numero }}</td>
            </tr>
            <tr>
                <th>Otros</th>
                <td>{{ victima.otros }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('victima_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('victima_edit', { 'id': victima.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
