{% extends 'templates/layout.html.twig' %}

{% block body %}

<div class="text-center container col-md-10 mt-5 border-violet card">
  <h1 class="mt-2 mb-2">Anexos del expediente <strong>{{ expediente.nroExp }}</strong></h1>
  <hr>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Fecha</th>
          <th>Anexo</th>
          <th>Categoría</th>
          <th><a class="btn btn-primary btn-xs" href="/anexo/new/{{ expediente.id }}"><i class="material-icons align-bottom">add</i> Nuevo anexo</a></th>
        </tr>
      </thead>
      {% if anexos is not empty %}
      <tbody>
        {% for anexo in anexos %}
        <tr>
          <td>{% if anexo.fecha %}{{ anexo.fecha|date('d/m/Y') }}{% endif %}</td>
          <td>{{ anexo.nombre }}</td>
          <td>{{ anexo.categoria.descripcion }}</td>
          <td>
            <a class="btn btn-info btn-xs" href="{{ path('anexo_show', { 'id': anexo.id }) }}"><i class="material-icons align-bottom">remove_red_eye</i></a>
            <a class="btn btn-danger btn-xs" onclick="return confirm('Estas seguro de que quiere eliminar el anexo? Está acción no se podrá revertir')"  href="{{ path('anexo_delete', { 'id': anexo.id }) }}"><i class="material-icons align-bottom">delete</i></a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
      {% else %}
      <p>No hay anexos para mostrar</p>
      {% endif %}
    </table>
  <hr>
  <div class="row justify-content-center">
    <div class="col-md-3 col-sm-4 col-4">
      <a class="btn btn-volver" href="/expediente/{{expediente.id}}" ><i class="material-icons align-bottom">keyboard_backspace</i>Volver</a>
    </div>
    <div class="col-md-3 col-sm-4 col-4">
    </div>
  </div>
</div>

{% endblock %}
