{% extends 'templates/layout.html.twig' %}

{% block body %}


<div class="text-center container col-md-8 mt-5 border-violet card">
  <h1 class="mt-2 mb-2">Anexo <strong>{{ anexo.nombre }}</strong></h1>
  <hr>
  <table class="table table-striped">
      <tbody>
          <tr>
              <th>Fecha</th>
              <td>{% if anexo.fecha %}{{ anexo.fecha|date('Y-m-d') }}{% endif %}</td>
          </tr>
          <tr>
              <th>Path</th>
              <td>{{ anexo.nombre }}</td>
          </tr>
          <tr>
              <th>Categoría</th>
              <td>{{ categoria.descripcion }}</td>
          </tr>
      </tbody>
  </table>

  {% if format=='png' or format=='jpg' or format=='jpeg' %}
    <img style="width:100%; height:auto" src="/uploads/files/{{file}}">
  {% elseif format == 'pdf' %}
    <iframe style="width:100%; height:700px" src="/uploads/files/{{file}}" style="width:700px; height:700px;" frameborder="0"> </iframe>
  {% else %}
    No se puede mostrar este tipo de archivo
  {% endif %}




  <hr>
  <div class="row justify-content-center">
    <div class="col-md-3 col-sm-4 col-4">
      <a class="btn btn-volver" href="/anexo/index/{{anexo.expediente.id}}" ><i class="material-icons align-bottom">keyboard_backspace</i>Volver</a>
    </div>
    <div class="col-md-3 col-sm-4 col-4">
    </div>
  </div>
</div>



{% endblock %}
