{% extends 'base.html.twig' %}

{% block body %}
    <h1>Anexo</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ anexo.id }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{% if anexo.fecha %}{{ anexo.fecha|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Path</th>
                <td>{{ anexo.path }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('anexo_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('anexo_edit', { 'id': anexo.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
