{% extends 'templates/layout.html.twig' %}
{% block head %}
  <title>Lista de expedientes</title>
{% endblock %}

{% block body %}
    <div class="container well">
        <h1>Expedientes list</h1>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nroexp</th>
                    <th>Fecha</th>
                    <th>Observacion</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for expediente in expedientes %}
                <tr>
                    <td><a href="{{ path('expediente_show', { 'id': expediente.id }) }}">{{ expediente.id }}</a></td>
                    <td>{{ expediente.nroExp }}</td>
                    <td>{% if expediente.fecha %}{{ expediente.fecha|date('Y-m-d') }}{% endif %}</td>
                    <td>{{ expediente.observacion }}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('expediente_show', { 'id': expediente.id }) }}">show</a>
                            </li>
                            <li>
                                <a href="{{ path('expediente_edit', { 'id': expediente.id }) }}">edit</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <ul>
            <li>
                <a href="{{ path('expediente_new') }}">Create a new expediente</a>
            </li>
        </ul>
    </div>
{% endblock %}
