{% extends 'templates/layout.html.twig' %}

{% block body %}
<div class="text-center container col-md-6 mt-5">
  <h2>Lista de expedientes</h2>
  <hr>
  <br>



  {{ form_start(form) }}
  <div class="row mt-3 mb-2">
    <div class="col-md-4">
      {{ form_row(form.nroExp) }}
    </div>
    <div class="col-md-4">
      {{ form_row(form.nombreApellido) }}
    </div>
    <div class="col-md-4">
      {{ form_row(form.buscar) }}
    </div>
  </div>
  <br>

  {{ form_end(form) }}



  <hr>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Id</th>
        <th>Numero expediente</th>
        <th>Fecha</th>
        <th>Observacion</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for expediente in expedientes %}
      <tr>
        <td><a href="{{ path('expediente_show', { 'id': expediente.id }) }}">{{ expediente.id }}</a></td>
        <td>{{ expediente.nroExp }}</td>
        <td>{% if expediente.fecha %}{{ expediente.fecha|date('Y-m-d') }}{% endif %}</td>
        <td>{{ expediente.observacion }}</td>
        <td>
          <ul>
            <li>
              <a href="{{ path('expediente_show', { 'id': expediente.id }) }}">show</a>
            </li>
            <li>
              <a href="{{ path('expediente_edit', { 'id': expediente.id }) }}">edit</a>
            </li>
          </ul>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <!-- Paginacion -->
  {% if maxPages > 1 %}
  <ul class="pagination">
    {% if thisPage > 1 %}
    <li class="page-item" >
      <a class="page-link" href="{{ path('expediente_index', {currentPage: thisPage-1 < 1 ? 1 : thisPage-1}) }}">«</a>
    </li>
    {% endif %}

    {# Render each page number #}
    {% for i in 1..maxPages %}
    <li class="page-item">
      <a class="page-link" href="{{ path('expediente_index', {currentPage: i}) }}">{{ i }}</a>
    </li>
    {% endfor %}

    {# `»` arrow #}
    {% if thisPage < maxPages %}
    <li class="page-item">
      <a class="page-link" href="{{ path('expediente_index', {currentPage: thisPage+1 <= maxPages ? thisPage+1 : thisPage}) }}">»</a>
    </li>
    {% endif %}
  </ul>
  {% endif %}

  <br>

  <ul>
    <li>
      <a href="{{ path('expediente_new') }}">Create a new expediente</a>
    </li>
  </ul>
</div>
{% endblock %}
