{% extends 'base.html.twig' %}

{% block body %}
    <h1>Expediente</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ expediente.id }}</td>
            </tr>
            <tr>
                <th>Nroexp</th>
                <td>{{ expediente.nroExp }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{% if expediente.fecha %}{{ expediente.fecha|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Observacion</th>
                <td>{{ expediente.observacion }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('expediente_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('expediente_edit', { 'id': expediente.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
