{% extends 'templates/layout.html.twig' %}
{% block title %}Perimetrales{% endblock %}
{% block body %}

<div class="text-center container col-md-10 mt-5 border-violet card">
  <h1 class="mt-2 mb-2">Expedientes con {{titulo}}</strong></h1>
  <hr>
  {% if perimetrales is empty %}
  <div class="alert alert-warning" role="alert">
    <h5>No hay nada para mostrar</h5>
  </div>
  {% else %}
  <table class="table table-striped">
    <thead>
        <tr>
          <th>#Expediente</th>
          <th>Vencimiento</th>
          <th>Victima</th>
          <th>Accion</th>
        </tr>
    </thead>
    <tbody>
      {% for perimetral in perimetrales %}
      <tr>
        <td>{{ perimetral.nroExp }}</td>
        <td>{{ perimetral.vencimiento|date("d/m/Y")}}</td>
        <td>{{ perimetral.nombre }}</td>
        <td><a class="btn btn-success" href="{{ path('perimetral_resolver', { 'id': perimetral.id, 'metodo': metodo }) }}">Resolver</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}
  <hr>
  <div class="row justify-content-center">
    <div class="col-md-3 col-sm-4 col-4">
      <a class="btn btn-volver" href="/" ><i class="material-icons align-bottom">keyboard_backspace</i>Volver</a>
    </div>
    <div class="col-md-3 col-sm-4 col-4">
    </div>
  </div>
</div>




{% endblock %}
