{% extends 'templates/layout.html.twig' %}

{% block body %}


  {{ form_start(form) }}
  <div class="text-center container col-lg-4 col-md-6 col-sm-8 col-10 mt-5 border-violet card">
    <h1 class="mt-2 mb-2">Nueva perimetral</h1>
    <hr>
    <div class="row justify-content-center">
      <div class="col-md-6">

        <div class="input-group mt-2 mb-2">
          <div class="input-group-prepend">
            <label class="input-group-text" for="expediente_evaluacion">Agresor</label>
          </div>
          <select required id="expediente_evaluacion" name="expediente_evaluacion" class="form-control">
            <option value="" selected hidden>Elija una opcion</option>
            {% for evaluacion in evaluaciones %}
            <option value="{{evaluacion.id}}">{{evaluacion.agresor.apellido}}, {{evaluacion.agresor.nombre}}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="col-md-6">

        <div class="input-group mt-2">
          <div class="input-group-prepend">
            {{ form_label(form.fecha, null, {'label_attr': {'class': 'input-group-text'}}) }}
          </div>
          {{ form_widget(form.fecha, {'attr': {'class': 'form-control'}}) }}
        </div>
      </div>
    </div>


    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="input-group mt-2">
          <div class="input-group-prepend">
            {{ form_label(form.vencimiento, null, {'label_attr': {'class': 'input-group-text'}}) }}
          </div>
          {{ form_widget(form.vencimiento, {'attr': {'class': 'form-control'}}) }}
        </div>

      </div>
      <div class="col-md-6">
        <div class="input-group mt-2">
          <div class="input-group-prepend">
            {{ form_label(form.vigencia, null, {'label_attr': {'class': 'input-group-text'}}) }}
          </div>
          {{ form_widget(form.vigencia, {'attr': {'class': 'form-control'}}) }}
        </div>

      </div>
    </div>
    <hr>
    <div class="row justify-content-center">
      <div class="col-md-4 col-sm-4 col-4">
        <a class="btn btn-volver" href="{{ path('expediente_show', { 'id': evaluaciones[0].victima.expediente.id }) }}" onclick="return confirm('Los datos se perderán, seguro que desea volver?')"><i class="material-icons align-bottom">keyboard_backspace</i>Volver</a>
      </div>
      <div class="col-md-4 col-sm-4 col-4">
        <input type="submit" value="Agregar perimetral" class="btn btn-violet"/>
      </div>
    </div>
  </div>
  {{ form_end(form) }}

{% endblock %}
