{% extends 'base.html.twig' %}

{% block body %}
    <h1>Vinculosignificativos list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Telefono</th>
                <th>Fechanac</th>
                <th>Parentesco</th>
                <th>Dni</th>
                <th>Edad</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for vinculoSignificativo in vinculoSignificativos %}
            <tr>
                <td><a href="{{ path('vinculosignificativo_show', { 'id': vinculoSignificativo.id }) }}">{{ vinculoSignificativo.id }}</a></td>
                <td>{{ vinculoSignificativo.nombre }}</td>
                <td>{{ vinculoSignificativo.telefono }}</td>
                <td>{% if vinculoSignificativo.fechaNac %}{{ vinculoSignificativo.fechaNac|date('Y-m-d') }}{% endif %}</td>
                <td>{{ vinculoSignificativo.parentesco }}</td>
                <td>{{ vinculoSignificativo.dni }}</td>
                <td>{{ vinculoSignificativo.edad }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('vinculosignificativo_show', { 'id': vinculoSignificativo.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('vinculosignificativo_edit', { 'id': vinculoSignificativo.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('vinculosignificativo_new') }}">Create a new vinculoSignificativo</a>
        </li>
    </ul>
{% endblock %}
