{% extends 'base.html.twig' %}

{% block body %}
    <h1>Hogars list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Ingreso</th>
                <th>Egreso</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for hogar in hogars %}
            <tr>
                <td><a href="{{ path('hogar_show', { 'id': hogar.id }) }}">{{ hogar.id }}</a></td>
                <td>{% if hogar.ingreso %}{{ hogar.ingreso|date('Y-m-d') }}{% endif %}</td>
                <td>{% if hogar.egreso %}{{ hogar.egreso|date('Y-m-d') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('hogar_show', { 'id': hogar.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('hogar_edit', { 'id': hogar.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('hogar_new') }}">Create a new hogar</a>
        </li>
    </ul>
{% endblock %}
